html,
body {
  width: 100%;
  height: 100%;
}

.body {
  background: url(./asset/bg@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.left {
  position: absolute;
  top: 227px;
  left: 176px;
}

.title {
  /* width: 416px;
  height: 48px; */
  /* font-size: 48px; */
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
}

.subTitle {
  width: 424px;
  background: linear-gradient(90deg, #ffe9e5, #fff2f1);
  margin: 19px 0;
  width: 410px;
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ff3a03;
  padding: 10px;
}

.right {
  width: 406px;
  height: 446px;
  background: #ffffff;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: absolute;
  top: 168px;
  right: 220px;
}

.grey {
  color: #666666;
}

.wraps {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.main {
  padding-bottom: 6rem;
  /* overflow-y: auto; */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem; /* Footer height */
  border-top: 1px solid #eee;
}
.arthover {
  border: 1px solid #eee;
}
.arthover:hover {
  box-shadow: 1px 1px 15px #ff5a00;
  border: 1px solid #ff5a00 !important;
}

.gotop {
  position: fixed;
  bottom: 20px;
  display: none;
  width: 48px;
  height: 48px;
  right: 3px;
  outline: 0;
  overflow: hidden;
  background-color: #ff5a00;
  text-align: center;
  padding: 5px;
  color: #fff;
}
