<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../tailwind.min.css">
  <link rel="stylesheet" href="../normalize.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"> -->
  <link rel="stylesheet" href="../cdn/bootstrap-icons-1.10.4/font/bootstrap-icons.css">

  <link rel="stylesheet" href="./header.css">
  <title>Document</title>
</head>

<body>
  <header class=" header">
    <div class="contain">
      <div class="flex headerbox">
        <div class="logo">
          <img src="../asset/易维客@2x.png" alt="">
        </div>
        <div class="search">
          <div class="search_input rounded-sm border-2 border-gray-300 border-solid clear-left">
            <select class="inline">
              <option>发布</option>
            </select>
            <input type="text" class="inline outline-none inputs" placeholder="请输入关键词">
            <div class="icon inline float-right"><i class="bi bi-search"></i></div>
          </div>
          <div class="type flex">
            <div>金融</div>
            <div>科技</div>
            <div>电子商务</div>
            <div>贸易</div>
            <div>建筑</div>
          </div>
        </div>
        <div class="person">
          <i class="bi bi-person"></i>
          <span>个人中心</span>
        </div>
      </div>
      <nav class="tabcard">
        <div>出售公司</div>
        <div>求购公司</div>
        <div>我的私域</div>
        <div>客户管理</div>
      </nav>
    </div>

  </header>
</body>

</html>