<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../asset/css/tailwind.min.css">
  <link rel="stylesheet" href="../asset/css/index.css">
  <link rel="stylesheet" href="../asset/css/normalize.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"> -->
  <link rel="stylesheet" href="../cdn/bootstrap-icons-1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../cdn/layui-v2.6.8/layui/css/layui.css">
  <link rel="stylesheet" href="../asset/css/header.css">
  <title>Document</title>
</head>
<style>
  .shape {
    border: 1px solid #E3E3E3;
  }

  .found {
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .bg-orgin {
    background-color: #FF3A03;
    color: #fff;

  }

  .pulish {
    align-items: center;
  }

  .pulish-i {
    width: 40px;
    height: 40px;
  }

  .phone {
    width: 40px;
    height: 40px;
  }

  .orgin {
    color: #FF3A03;
  }

  .layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #FF3A03;
  }
</style>

<body>
  <div id="qrcodebox" class="qrcodebox">
    <div id='qrclose'
      style="text-align:right;color:#555555;font-size:16px;font-family:Verdana;font-weight:100;padding-right:6px;cursor:pointer;">
      x</div>
    <img src="../asset/images/qrcode.png" width="140" height="140">
    <div style="padding:10px 0;font-size:14px;font-weight:bold;color:#555555;">扫一扫，直接在手机上打开</div>
    <div style="padding-bottom:20px;color:#999999;">推荐微信、QQ扫一扫等扫码工具</div>
  </div>
  <div class="wraps">
    <header class=" header">
      <div class="headertop">
        <div class="clear-both header-main">
          <div class="person float-left" id="shoucang">
            <i class="bi bi-folder-plus"></i>
            <span>收藏本页</span>
          </div>

          <div class="person float-left ml-4" id="qrcode">
            <i class="bi bi-qr-code"></i>
            <span>二维码</span>
          </div>
          <div class="person float-right ml-4 border-left">
            <!-- <i class=" ml-4 bi bi-terminal-plus"></i> -->
            <span class="ml-4">客户管理</span>
          </div>
          <div class="person float-right  positionre my px-2">
            <i class="bi bi-person"></i>
            <!-- <span>个人中心</span> -->
            <a href=""> 个人中心</a>
            <div class="outbox">
              <div class="out">
                <div><a href="javascript:;">退出</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="flex headerbox flex-row justify-start">
          <div class="logo">
            <img src="../asset/images/yiweike@1x.png" alt="">
          </div>
          <div class="search ml-32">
            <div class="search_input shadow rounded-sm border-1 border-gray-300 border-solid clear-left">
              <input type="text" id="destoon_select" class="search_m select xiala-1" value="供应" readonly=""
                onfocus="this.blur();" onclick="$('#search_module').fadeIn('fast');">
              <!-- <img class="xia" src="http://32.wpnq.com/skin/default/image/xia.png"> -->
              <img class="xia" src="../asset/images/xia.png">
              <div class="xiala shadow">
                <ul>
                  <li onclick="setModule('5','供应')" style="background-color: white; cursor: default;">供应</li>
                  <li onclick="setModule('6','求购')" style="background-color: white;">求购</li>
                </ul>
              </div>
              <input type="text" class=" inline outline-none inputs ml-2" placeholder="请输入关键词">
              <div class="icon inline float-right"><i class="bi bi-search"></i></div>
            </div>
            <div class="type flex">
              <div>金融</div>
              <div>科技</div>
              <div>电子商务</div>
              <div>贸易</div>
              <div>建筑</div>
            </div>
          </div>

        </div>
        <nav class="tabcard">
          <div>出售公司</div>
          <div class="tab-active">求购公司</div>
          <div>我的私域</div>
          <!-- <div>客户管理</div> -->
        </nav>
      </div>
    </header>
    <main class="main mx-auto py-9  ">
      <article class="bg-white  flex flex-row  py-3 found" style="border: 1px solid #eee;">
        <div class=" flex flex-row items-center py-3 px-6 ">
          <div class="mx-3 ">求购区域</div>
          <div class="mx-3">
            <select name="" id="">
              <option value="">选择省</option>
              <option value="">陕西省</option>
            </select>
          </div>
          <div class="mx-3">
            <select name="" id="">
              <option value="">选择市</option>
              <option value="">西安市</option>
            </select>
          </div>
          <div class="mx-3">
            <select name="" id="">
              <option value="">选择区</option>
            </select>
          </div>
          <div class="bg-orgin px-6 py-3">搜索</div>
        </div>
        <div class="m-4 flex flex-row pulish  rounded-full shape">
          <div class="bg-orgin pulish-i rounded-full h-24 w-24 flex items-center justify-center"><i
              class="bi bi-send"></i></div>
          <div class="p-3 ">发布求购</div>
        </div>
      </article>
      <article class="bg-white arthover py-4  mt-3 flex flex-row items-center justify-between">
        <div class="ml-8">
          <div class="text-lg font-semibold">3年以上机械制造</div>
          <div class="grey py-4">
            <span class="text-sm">求购区域：陕西省 西安市</span>
          </div>
        </div>
        <div class="flex flex-row items-center justify-center mx-5">
          <img class="flex-1 phone" src="../asset/images/groupphone.png" alt="">
          <div class="ml-4">
            <div class="py-1">李琳琳</div>
            <div class="py-1 grey text-sm">2023-03-30</div>
            <div class="py-1 orgin font-semibold">15234647895</div>
          </div>
        </div>
      </article>
      <!--  -->
      <article class="bg-white arthover py-4  mt-3 flex flex-row items-center justify-between">
        <div class="ml-8">
          <div class="text-lg font-semibold">3年以上机械制造</div>
          <div class="grey py-4">
            <span class="text-sm">求购区域：陕西省 西安市</span>
          </div>
        </div>
        <div class="flex flex-row items-center justify-center mx-5">
          <img class="flex-1 phone" src="../asset/images/groupphone.png" alt="">
          <div class="ml-4">
            <div class="py-1">李琳琳</div>
            <div class="py-1 grey text-sm">2023-03-30</div>
            <div class="py-1 orgin font-semibold">15234647895</div>
          </div>
        </div>
      </article>
      <!--  -->
      <article class="bg-white arthover py-4  mt-3 flex flex-row items-center justify-between">
        <div class="ml-8">
          <div class="text-lg font-semibold">3年以上机械制造</div>
          <div class="grey py-4">
            <span class="text-sm">求购区域：陕西省 西安市</span>
          </div>
        </div>
        <div class="flex flex-row items-center justify-center mx-5">
          <img class="flex-1 phone" src="../asset/images/groupphone.png" alt="">
          <div class="ml-4">
            <div class="py-1">李琳琳</div>
            <div class="py-1 grey text-sm">2023-03-30</div>
            <div class="py-1 orgin font-semibold">15234647895</div>
          </div>
        </div>
      </article>
      <div id="test1" class="m-auto text-center"></div>
    </main>
    <footer class="footer w-screen bg-white ">
      <div class="w-2/5  mx-auto text-xs grey text-center p-4">
        <div class="grid grid-cols-6 divide-x divide-gray-500 ">
          <div>首页网站</div>
          <div>公司转让</div>
          <div>公司收购</div>
          <div>关于我们</div>
          <div>联系我们</div>
          <div>法律声明</div>
        </div>
        <div class="p-2">易维客信息科技有限公司 | 津ICP备18000836号-1 | © Copyright©2023 ke.com版权所有</div>
      </div>
    </footer>
    <a id="scrollto" class="gotop btn btn-default" href="#" role="button">
      回到顶部
    </a>
  </div>
</body>
<script src="../cdn/jquery-3.6.4.min.js"></script>
<script src="../cdn/layui-v2.6.8/layui/layui.js"></script>
<script src="../asset/js/index.js"></script>

<script>
  function setModule (x) {
    console.log(x)
  }
  layui.use('laypage', function () {
    var laypage = layui.laypage

    //执行一个laypage实例
    laypage.render({
      elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
      , count: 50 //数据总数，从服务端得到
    })
  })
  $(".xiala-1").click(function () {
    //点击输入框打开选项窗，若已打开则关闭
    if ($(".xiala").css('display') == 'none') {
      $(".xiala").show()
      $('.xiala li:contains(' + $(this).val() + ')').css('background-color', '#ffffff')
    } else {
      $(".xiala").hide()
    }
  })
  $(".xiala li").click(function () {
    //点击选择时为输入框赋值。并关闭选项窗
    $(".xiala-1").val($(this).text())
    $(".xiala").hide()
  })
  window.onscroll = function () {

    if (document.documentElement.scrollTop + $('.wraps').scrollTop() > 100) {
      $('#scrollto').show()
    }
    else {
      $('#scrollto').hide()
    }
  }
</script>

</html>