<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../tailwind.min.css">
  <link rel="stylesheet" href="../index.css">
  <link rel="stylesheet" href="../normalize.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"> -->
  <link rel="stylesheet" href="../cdn/bootstrap-icons-1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../components/header.css">
  <link rel="stylesheet" href="../cdn/layui-v2.6.8/layui/css/layui.css">

  <title>Document</title>
</head>
<style>
  .shape {
    border: 1px solid #E3E3E3;
  }

  .found {
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .bg-orgin {
    background-color: #FF3A03;
    color: #fff;

  }

  .pulish {
    align-items: center;
  }

  .pulish-i {
    width: 40px;
    height: 40px;
  }

  .phone {
    width: 40px;
    height: 40px;
  }

  .orgin {
    color: #FF3A03;
  }

  .yellow {
    background-color: #f7e07f;
  }

  .circel {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .callbutton {
    width: 90%;
    height: 30px;
    background: #FF3A03;
    border-radius: 0px;
    color: #fff;
    line-height: 30px;
  }

  .more {
    border-left: 2px solid #FF3A03;
  }

  .layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #FF3A03;
  }
</style>


<body>
  <div class="wraps">
    <header class=" header">
      <div class="headertop">
        <div class="clear-both header-main">
          <div class="person float-left">
            <i class="bi bi-folder-plus"></i>
            <span>收藏本页</span>
          </div>

          <div class="person float-left ml-4">
            <i class="bi bi-qr-code"></i>
            <span>二维码</span>
          </div>
          <div class="person float-right ml-4 border-left">
            <i class=" ml-4 bi bi-terminal-plus"></i>
            <span>客户管理</span>
          </div>
          <div class="person float-right  ">
            <i class="bi bi-person"></i>
            <span>个人中心</span>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="flex headerbox flex-row justify-start">
          <div class="logo">
            <img src="../asset/易维客@2x.png" alt="">
          </div>
          <div class="search ml-32">
            <div class="search_input shadow rounded-sm border-1 border-gray-300 border-solid clear-left">
              <input type="text" id="destoon_select" class="search_m select xiala-1" value="供应" readonly=""
                onfocus="this.blur();" onclick="$('#search_module').fadeIn('fast');">
              <img class="xia" src="http://32.wpnq.com/skin/default/image/xia.png">
              <div class="xiala shadow">
                <ul>
                  <li onclick="setModule('5','供应')" style="background-color: white; cursor: default;">供应</li>
                  <li onclick="setModule('6','求购')" style="background-color: white;">求购</li>
                </ul>
              </div>
              <input type="text" class=" inline outline-none inputs ml-2" placeholder="请输入关键词">
              <div class="icon inline float-right"><i class="bi bi-search"></i></div>
            </div>
            <div class="type flex">
              <div>金融</div>
              <div>科技</div>
              <div>电子商务</div>
              <div>贸易</div>
              <div>建筑</div>
            </div>
          </div>

        </div>
        <nav class="tabcard">
          <div>出售公司</div>
          <div class="tab-active">求购公司</div>
          <div>我的私域</div>
          <!-- <div>客户管理</div> -->
        </nav>
      </div>
    </header>
    <main class="main mx-auto py-6  justify-between items-center">
      <div class="flex flex-row">
        <article class="bg-white p-6 w-9/12">
          <div class="text-xl font-semibold">重庆商贸2年以上，无历史变更，有对公账户</div>
          <div class="grey py-1 text-sm border-b pb-4 mb-4">
            <i class="bi-alarm" style="font-size: 1rem; color: #FF3A03;"></i>
            <span>更新时间：2023-04-06</span>
          </div>
          <div class=" py-1 text-sm ">
            <!-- <i class="bi-alarm" style="font-size: 1rem; color: #FF3A03;"></i> -->
            <span class="grey">求购区域：</span><span>重庆</span>
          </div>
          <div class=" py-1 text-sm pb-4">
            <!-- <i class="bi-alarm" style="font-size: 1rem; color: #FF3A03;"></i> -->
            <span class="grey">求购描述：</span><span>重庆2年以上，无历史变更，无官司，有对公账户，纳税B及以上</span>
          </div>
        </article>
        <article class="bg-white ml-2 w-3/12" style="border:1px solid #eee;">
          <div class="flex flex-row p-4 items-center justify-around">
            <div class=" yellow rounded-full  flex items-center justify-center circel">
              <img src="../asset/circle.jpg" alt="">
            </div>
            <div class="">
              <div class="font-semibold py-2">发布人： 李琳琳</div>
              <div class="grey text-xs py-1">明远信息科技有限公司员工</div>
              <div class="grey text-xs py-1">发布了 <span class="text-sm orgin">5</span> 条供应</div>
              <div class="text-lg orgin font-semibold">15234647895</div>
            </div>
          </div>
          <div class="text-center m-auto callbutton">
            联系我们
          </div>
        </article>
      </div>
      <div class="p-4 ">
        <div class="more px-3">更多推荐</div>
      </div>
      <article class="bg-white py-4 arthover flex flex-row items-center justify-between">
        <div class="ml-8">
          <div class="text-lg ">3年以上机械制造</div>
          <div class="grey py-4">
            <i class="bi bi-geo-alt-fill"></i>
            <span class="text-sm">求购区域：陕西省 西安市</span>
          </div>
        </div>
        <div class="flex flex-row items-center justify-center mx-5">
          <img class="flex-1 phone" src="../asset/组 3@2x.png" alt="">
          <div class="ml-4">
            <div class="py-1">李琳琳</div>
            <div class="py-1 grey text-sm">2023-03-30</div>
            <div class="py-1 orgin font-semibold">15234647895</div>
          </div>
        </div>
      </article>
      <!--  -->
      <article class="bg-white py-4  arthover mt-3 flex flex-row items-center justify-between">
        <div class="ml-8">
          <div class="text-lg ">3年以上机械制造</div>
          <div class="grey py-4">
            <i class="bi bi-geo-alt-fill"></i>
            <span class="text-sm ">求购区域：陕西省 西安市</span>
          </div>
        </div>
        <div class="flex flex-row items-center justify-center mx-5">
          <img class="flex-1 phone" src="../asset/组 3@2x.png" alt="">
          <div class="ml-4">
            <div class="py-1">李琳琳</div>
            <div class="py-1 grey text-sm">2023-03-30</div>
            <div class="py-1 orgin font-semibold">15234647895</div>
          </div>
        </div>
      </article>
      <!--  -->
      <article class="bg-white py-4 arthover  mt-3 flex flex-row items-center justify-between">
        <div class="ml-8">
          <div class="text-lg ">3年以上机械制造</div>
          <div class="grey py-4">
            <i class="bi bi-geo-alt-fill"></i>
            <span class="text-sm">求购区域：陕西省 西安市</span>
          </div>
        </div>
        <div class="flex flex-row items-center justify-center mx-5">
          <img class="flex-1 phone" src="../asset/组 3@2x.png" alt="">
          <div class="ml-4">
            <div class="py-1">李琳琳</div>
            <div class="py-1 grey text-sm">2023-03-30</div>
            <div class="py-1 orgin font-semibold">15234647895</div>
          </div>
        </div>
      </article>
      <div id="test1"></div>

    </main>
    <footer class="footer w-screen bg-white  ">
      <div class="w-2/5  mx-auto text-xs grey text-center p-4">
        <div class="grid grid-cols-6 divide-x divide-gray-500 ">
          <div>首页网站</div>
          <div>公司转让</div>
          <div>公司收购</div>
          <div>关于我们</div>
          <div>联系我们</div>
          <div>法律声明</div>
        </div>
        <div class="p-2">易维客信息科技有限公司 | 津ICP备18000836号-1 | © Copyright©2023 ke.com版权所有</div>
      </div>
    </footer>
    <a id="scrollto" class="gotop btn btn-default" href="#" role="button">
      回到顶部
    </a>
  </div>
</body>
<script src="../cdn/jquery-3.6.4.min.js"></script>
<script src="../cdn/layui-v2.6.8/layui/layui.js"></script>

<script>
  function setModule (x) {
    console.log(x)
  }
  layui.use('laypage', function () {
    var laypage = layui.laypage

    //执行一个laypage实例
    laypage.render({
      elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
      , count: 50 //数据总数，从服务端得到
    })
  })
  $(".xiala-1").click(function () {
    //点击输入框打开选项窗，若已打开则关闭
    if ($(".xiala").css('display') == 'none') {
      $(".xiala").show()
      $('.xiala li:contains(' + $(this).val() + ')').css('background-color', '#ffffff')
    } else {
      $(".xiala").hide()
    }
  })
  $(".xiala li").click(function () {
    //点击选择时为输入框赋值。并关闭选项窗
    $(".xiala-1").val($(this).text())
    $(".xiala").hide()
  })
  window.onscroll = function () {

    if (document.documentElement.scrollTop + $('.wraps').scrollTop() > 100) {
      $('#scrollto').show()
    }
    else {
      $('#scrollto').hide()
    }
  }
</script>

</html>