<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../asset/css/tailwind.min.css">
  <link rel="stylesheet" href="../asset/css/normalize.css">
  <link rel="stylesheet" href="../asset/css/index.css">
  <link rel="stylesheet" href="../asset/css/header.css">
  <!-- bootstrap -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"> -->
  <link rel="stylesheet" href="../cdn/bootstrap-icons-1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../cdn/layui-v2.6.8/layui/css/layui.css">


  <title>Document</title>
</head>
<style>
  body {
    background-color: #fff !important;
  }

  .wtitle {
    /* font-weight: 700; */
    margin-right: 10px;
    width: 4rem;
    text-align: right;
    font-size: 14px;
  }

  .grey {
    color: #666666;
  }

  .line {
    width: 100%;
    height: 1px;
    background: #F5F5F5;
  }

  .dashed {
    border: 1px dashed #F5F5F5 !important;
  }

  .city-text {
    font-size: 0;
    flex: 1;
    overflow: hidden
  }

  .city-text>div {
    display: inline-block;
    font-size: 14px;
  }

  .price {
    color: #FF3A03;
  }

  .unit {
    font-size: 12px;
  }

  .vercel {
    vertical-align: middle;
    /* line-height: 33px; */
  }

  .phone {
    width: 40px;
    height: 40px;
  }

  .lefts {
    flex: 2;
  }

  .rights {
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .orgin {
    color: #FF3A03;

  }

  .city-text>div:hover {
    color: #FF3A03;
    cursor: pointer;
  }

  .more-filter {
    font-size: 12px;
    color: #666;
  }

  .filterbtn {
    margin: 0 0 0 4px;
    height: 24px;
    line-height: 24px;
    border: solid 1px #e8e8e8;
    padding: 0 9px;
    background: #f6f6f6;
    color: #6b6b6b;
    cursor: pointer;
    text-decoration: none;
  }

  .more-cate {
    height: 24px;
    line-height: 24px;
  }

  .active {
    border: 1px solid #ff3a03;
    color: #ff3a03;
    padding: 0px 10px;
    border-radius: 3px;

  }

  .layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #FF3A03;
  }

  #shenfenshowhide {
    color: #2668a5b7;
  }

  .vercel-middle {
    vertical-align: middle;
  }

  .rmb {
    position: relative;
    right: -9px;
  }
</style>

<body>
  <div id="qrcodebox" class="qrcodebox">
    <div id='qrclose'
      style="text-align:right;color:#555555;font-size:16px;font-family:Verdana;font-weight:100;padding-right:6px;cursor:pointer;">
      x</div>
    <img src="../asset/images/qrcode.png" width="140" height="140">
    <div style="padding:10px 0;font-size:14px;font-weight:bold;color:#555555;">扫一扫，直接在手机上打开</div>
    <div style="padding-bottom:20px;color:#999999;">推荐微信、QQ扫一扫等扫码工具</div>
  </div>
  <div class="wraps">
    <header class=" header">
      <div class="headertop">
        <div class="clear-both header-main">
          <div class="person float-left" id="shoucang">
            <i class="bi bi-folder-plus"></i>
            <span>收藏本页</span>
          </div>

          <div class="person float-left ml-4" id="qrcode">
            <i class="bi bi-qr-code"></i>
            <span>二维码</span>
          </div>
          <div class="person float-right ml-4 border-left">
            <!-- <i class=" ml-4 bi bi-terminal-plus"></i> -->
            <span class="ml-4">客户管理</span>
          </div>
          <div class="person float-right  positionre my px-2">
            <i class="bi bi-person"></i>
            <!-- <span>个人中心</span> -->
            <a href=""> 个人中心</a>
            <div class="outbox">
              <div class="out">
                <div><a href="javascript:;">退出</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="flex headerbox flex-row justify-start">
          <div class="logo">
            <img src="../asset/images/yiweike@1x.png" alt="">
          </div>
          <div class="search ml-32">
            <div class="search_input shadow rounded-sm border-1 border-gray-300 border-solid clear-left">
              <input type="text" id="destoon_select" class="search_m select xiala-1" value="出售" readonly=""
                onfocus="this.blur();" onclick="$('#search_module').fadeIn('fast');">
              <img class="xia" src="../asset/images/xia.png">
              <!-- <img class="xia" src="http://32.wpnq.com/skin/default/image/xia.png"> -->
              <div class="xiala shadow">
                <ul>
                  <li onclick="setModule('5','出售')" style="background-color: white; cursor: default;">出售</li>
                  <li onclick="setModule('6','求购')" style="background-color: white;">求购</li>
                </ul>
              </div>
              <input type="text" class=" inline outline-none inputs ml-2" placeholder="请输入关键词">
              <div class="icon inline float-right"><i class="bi bi-search"></i></div>
            </div>
            <div class="type flex">
              <div>金融</div>
              <div>科技</div>
              <div>电子商务</div>
              <div>贸易</div>
              <div>建筑</div>
            </div>
          </div>

        </div>
        <nav class="tabcard">
          <div class="tab-active">出售公司</div>
          <div>求购公司</div>
          <div>我的私域</div>
          <!-- <div>客户管理</div> -->
        </nav>
      </div>
    </header>
    <main class="main mx-auto py-7 pt-0  ">
      <div class="p-2 more-filter">
        <div class="float-left mr-2 more-cate">
          所有分类
          <i class=" bi bi-chevron-right"></i>
        </div>
        <div class="float-right filterbtn" onclick="showNone()">
          <span id="filtertext"> 收起筛选</span>
          <i id="updown" class="ml-1 float-right bi bi-chevron-up"></i>
        </div>
        <div class="clear-both"></div>
      </div>
      <article id="filterbox" class="bg-white w-full mb-5" style="border: 1px solid #eee;">
        <div class="compaytype p-2">
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">公司类别</div>
            <div class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">空壳公司</div>
              <div class="text-base m-1 grey">实体公司</div>
            </div>
          </div>
          <div class=" dashed m-1"></div>
        </div>
        <!--  -->
        <div class="compaytype p-2">
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">省份</div>
            <div id="province" class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">北京</div>
              <div class="text-base m-1 grey">天津</div>
              <div class="text-base m-1 grey">河北</div>
              <div class="text-base m-1 grey">山西</div>
              <div class="text-base m-1 grey">内蒙古</div>
              <div class="text-base m-1 grey">辽宁</div>
              <div class="text-base m-1 grey">吉林</div>
              <div class="text-base m-1 grey">黑龙江</div>
              <div class="text-base m-1 grey">上海</div>
              <div class="text-base m-1 grey">江苏</div>
              <div class="text-base m-1 grey">浙江</div>
              <div class="text-base m-1 grey">安徽</div>
              <div class="text-base m-1 grey">福建</div>
              <div class="text-base m-1 grey">江西</div>
              <div class="text-base m-1 grey">山东</div>
              <div class="text-base m-1 grey">河南</div>
              <div class="text-base m-1 grey">湖南</div>
              <div class="text-base m-1 grey">湖北</div>
              <div class="text-base m-1 grey">广东</div>
              <div class="text-base m-1 grey">广西</div>
              <div class="text-base m-1 grey">海南</div>
              <div class="text-base m-1 grey">重庆</div>
              <div class="text-base m-1 grey">四川</div>
              <div class="text-base m-1 grey">贵州</div>
              <div class="text-base m-1 grey">云南</div>
              <div class="text-base m-1 grey">西藏</div>
              <div class="text-base m-1 grey">陕西</div>
              <div class="text-base m-1 grey">甘肃</div>
              <div class="text-base m-1 grey">青海</div>
              <div class="text-base m-1 grey">宁夏</div>
              <div class="text-base m-1 grey">新疆</div>
              <div class="text-base m-1 grey">台湾</div>
              <div class="text-base m-1 grey">澳门</div>
              <div class="text-base m-1 grey">国外</div>
            </div>
            <!-- <div id="shenfenshowhide" class="cursor-pointer">收起</div> -->
          </div>
          <div class="dashed m-1"></div>
          <!--  -->
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">城市</div>
            <div class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">合肥市</div>
              <div class="text-base m-1 grey">重阳市</div>
              <div class="text-base m-1 grey">安庆市</div>
              <div class="text-base m-1 grey">滁州市</div>
              <div class="text-base m-1 grey">六安市</div>
              <div class="text-base m-1 grey">韩埠市</div>
              <div class="text-base m-1 grey">芜湖市</div>
              <div class="text-base m-1 grey">巢湖市</div>
              <div class="text-base m-1 grey">马鞍山市</div>
              <div class="text-base m-1 grey">毫州市</div>
              <div class="text-base m-1 grey">池州市</div>
              <div class="text-base m-1 grey">铜陵市</div>
              <div class="text-base m-1 grey">宣城市</div>
              <div class="text-base m-1 grey">宿州</div>
              <div class="text-base m-1 grey">黄山市</div>
              <div class="text-base m-1 grey">淮北市</div>
              <div class="text-base m-1 grey">淮安市</div>
              <div class="text-base m-1 grey">其他</div>
            </div>
          </div>
          <div class="dashed m-1"></div>
          <!--  -->
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">热门标签</div>
            <div class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">免费转</div>
              <div class="text-base m-1 grey">银行流水大</div>
              <div class="text-base m-1 grey">接受挂靠</div>
              <div class="text-base m-1 grey">央企/国企背景</div>
              <div class="text-base m-1 grey">外资背景</div>
              <div class="text-base m-1 grey">国家居名称</div>
            </div>
          </div>
          <div class="dashed m-1"></div>
          <!--  -->
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">热门公司</div>
            <div class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">资质类公司</div>
              <div class="text-base m-1 grey">商标类公司</div>
              <div class="text-base m-1 grey">网络资产</div>
              <div class="text-base m-1 grey">专利著作权</div>
              <div class="text-base m-1 grey">车牌类公司</div>
              <div class="text-base m-1 grey">金融/投资</div>
              <div class="text-base m-1 grey">香港公司</div>
            </div>
          </div>
          <div class="dashed m-1"></div>
          <!--  -->
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">注册年限</div>
            <div class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">1年以下</div>
              <div class="text-base m-1 grey">1年及以上</div>
              <div class="text-base m-1 grey">2年以下</div>
              <div class="text-base m-1 grey">3年及以上</div>
              <div class="text-base m-1 grey">5年以下</div>
              <div class="text-base m-1 grey">10年及以上</div>
            </div>
          </div>
          <div class="dashed m-1"></div>
          <!--  -->
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">注册资本</div>
            <div class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">10万以下</div>
              <div class="text-base m-1 grey">10万及以上</div>
              <div class="text-base m-1 grey">50万及以上</div>
              <div class="text-base m-1 grey">100万及以上</div>
              <div class="text-base m-1 grey">1000万及以上</div>
            </div>
          </div>
          <div class="dashed m-1"></div>
          <!--  -->
          <div class="label flex flex-row">
            <div class="text-base m-1 wtitle">纳税性质</div>
            <div class="city-text">
              <div class="text-base m-1 grey active">不限</div>
              <div class="text-base m-1 grey">小规模</div>
              <div class="text-base m-1 grey">一般纳税人</div>
            </div>
          </div>
        </div>
      </article>
      <!--  -->
      <article class="bg-white w-full p-6 arthover" style="border: 1px solid #eee;">
        <div class="title text-lg font-semibold">
          [编号: 7328890] 南京***文化传媒有限公司
        </div>
        <div class="flex flex-row">
          <article class="flex-2 lefts">
            <div class="py-2">
              <span>价格：</span>
              <span class="text-2xl price">
                <span>面议</span>
                <!-- <span class="unit">元</span> -->
              </span>
            </div>
            <div class="flex flex-row py-1 grey text-sm">
              <div class="flex flex-row w-52">
                <i class="bi bi-bank"></i>
                <div class="mx-2">成立时间： 2013-11</div>
              </div>
              <div class="flex flex-row ml-4  w-52">
                <i class="bi bi-award-fill"></i>
                <div class="mx-2">注册资本：100万人民币</div>
              </div>
            </div>
            <div class="flex flex-row py-1 grey text-sm">
              <div class="flex flex-row  w-52">
                <i class="bi bi-currency-yen"></i>
                <div class="mx-2">实缴资本：0万人民币</div>
              </div>
              <div class="flex flex-row ml-4  w-52">
                <i class="bi bi-clipboard-plus-fill"></i>
                <div class="mx-2">纳税类型：小规模</div>
              </div>
            </div>
            <div class=" py-1  grey text-sm">
              <div class="flex flex-row  w-52 vercel">
                <i class="bi bi-clock"></i>
                <div class="mx-2">更新时间：2023-04-06</div>
              </div>
            </div>
            <div class="flex fle-row mt-2">
              <div class="bg-gray-300 p-2">买过社保</div>
              <div class="bg-gray-300 p-2 mx-2">有商标</div>
            </div>
          </article>
          <article class="flex flex-row rights">
            <img class="flex-1 phone" src="../asset/images/groupphone.png" alt="">
            <div class="ml-2">
              <div>
                <span class="">李琳琳</span>
                <span class="grey  text-xs">2小时前活跃</span>
                <div class="text-lg orgin py-2 font-semibold">15234647895</div>
              </div>
              <div>
                <span class="">张艾</span>
                <span class="grey text-xs">2小时前活跃</span>
                <div class="text-lg orgin py-2 font-semibold">15234647895</div>
              </div>
            </div>
          </article>
        </div>
      </article>
      <!--  -->
      <article class="bg-white w-full p-6 mt-5 arthover" style="border: 1px solid #eee;">
        <div class="title text-lg font-semibold">
          [编号: 7328890] 南京***文化传媒有限公司
        </div>
        <div class="flex flex-row">
          <article class="flex-2 lefts">
            <div class="py-2">
              <span>价格：</span>
              <span class="text-2xl price">
                <sub class="unit rmb">￥</sub>
                <strong class="vercel-middle">1000</strong>
                <span class="text-xl  vercel-middle">~</span>
                <strong class="vercel-middle">2000</strong>

              </span>
            </div>
            <div class="flex flex-row py-1 grey text-sm">
              <div class="flex flex-row w-52">
                <i class="bi bi-bank"></i>
                <div class="mx-2">成立时间： 2013-11</div>
              </div>
              <div class="flex flex-row ml-4  w-52">
                <i class="bi bi-award-fill"></i>
                <div class="mx-2">注册资本：100万人民币</div>
              </div>
            </div>
            <div class="flex flex-row py-1 grey text-sm">
              <div class="flex flex-row  w-52">
                <i class="bi bi-currency-yen"></i>
                <div class="mx-2">实缴资本：0万人民币</div>
              </div>
              <div class="flex flex-row ml-4  w-52">
                <i class="bi bi-clipboard-plus-fill"></i>
                <div class="mx-2">纳税类型：小规模</div>
              </div>
            </div>
            <div class=" py-1 grey text-sm ">
              <div class="flex flex-row  w-52 vercel">
                <i class="bi bi-clock"></i>
                <div class="mx-2">更新时间：2023-04-06</div>
              </div>
            </div>
            <div class="flex fle-row mt-2">
              <div class="bg-gray-300 p-2">买过社保</div>
              <div class="bg-gray-300 p-2 mx-2">有商标</div>
            </div>
          </article>
          <article class="flex flex-row rights">
            <img class="flex-1 phone" src="../asset/images/groupphone.png" alt="">
            <div class="ml-2">
              <div>
                <span class="">李琳琳</span>
                <span class="grey  text-xs">2小时前活跃</span>
                <div class="text-lg orgin py-2 font-semibold">15234647895</div>
              </div>
              <div>
                <span class="">张艾</span>
                <span class="grey  text-xs">2小时前活跃</span>
                <div class="text-lg orgin py-2 font-semibold">15234647895</div>
              </div>
            </div>
          </article>
        </div>
      </article>
      <div id="test1" class="m-auto text-center"></div>

    </main>
    <footer class="footer w-screen bg-white ">
      <div class="w-2/5  mx-auto text-xs grey text-center p-4">
        <div class="grid grid-cols-6 divide-x divide-gray-500 ">
          <div>首页网站</div>
          <div>公司转让</div>
          <div>公司收购</div>
          <div>关于我们</div>
          <div>联系我们</div>
          <div>法律声明</div>
        </div>
        <div class="p-2">易维客信息科技有限公司 | 津ICP备18000836号-1 | © Copyright©2023 ke.com版权所有</div>
      </div>
    </footer>
    <a id="scrollto" class="gotop btn btn-default" href="#" role="button">
      回到顶部
    </a>
  </div>

</body>
<script src="../cdn/jquery-3.6.4.min.js"></script>
<script src="../cdn/layui-v2.6.8/layui/layui.js"></script>
<script src="../asset/js/index.js"></script>

<script>


  layui.use('laypage', function () {
    var laypage = layui.laypage

    //执行一个laypage实例
    laypage.render({
      elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
      , count: 50 //数据总数，从服务端得到
    })
  })
  function setModule (x) {
    console.log(x)
  }
  window.onscroll = function () {

    if (document.documentElement.scrollTop + $('.wraps').scrollTop() > 100) {
      $('#scrollto').show()
    }
    else {
      $('#scrollto').hide()
    }
  }
  function showNone () {
    // $('#filterbox').hide()
    if ($("#filterbox").css('display') == 'none') {
      $("#filterbox").show()
      $('#updown').removeClass('bi-chevron-down')
      $('#updown').addClass('bi-chevron-up')
      $('#filtertext').text('收起筛选')
    } else {
      $("#filterbox").hide()
      $('#updown').removeClass('bi-chevron-up')
      $('#updown').addClass('bi-chevron-down')
      $('#filtertext').text('展开筛选')

    }
  }
  $(".xiala-1").click(function () {
    //点击输入框打开选项窗，若已打开则关闭
    if ($(".xiala").css('display') == 'none') {
      $(".xiala").show()
      $('.xiala li:contains(' + $(this).val() + ')').css('background-color', '#ffffff')
    } else {
      $(".xiala").hide()
    }
  })
  $(".xiala li").click(function () {
    //点击选择时为输入框赋值。并关闭选项窗
    $(".xiala-1").val($(this).text())
    $(".xiala").hide()
  })
  //
  // $('#shenfenshowhide').click(function () {
  //   console.log()
  //   if ($('#province').height() == 66) {
  //     $('#province').height('30px') // 66 //26
  //     $('#shenfenshowhide').text('展开')
  //   } else {
  //     $('#province').height('66px') // 66 //26
  //     $('#shenfenshowhide').text('收起')

  //   }

  // })
</script>

</html>